<!DOCTYPE html>
<html lang="en">
<head>
	<title>VaidikaBharata.org</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width", initial-scale=1>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
<style>
body {font-family: Arial;}
.home__poem {
	margin-left: 35%;
    margin-right: 21%;
    margin-top: 2%;
    width: 44%;
    font-size: 25px;
}

.brand-logo {
	width:62px;
	height:40px;
	border:0;
}
.v-inline-block {
	margin-left: 5px;
	display: inline-block;
}

.navbar-brand {
	padding: 5px 15px;
}

.navbar {
	border-bottom: 2px solid #f5a355
}

.carousel-inner > .item {
  height: 57vh;
  background: #ff9933;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-height: 400px;
  width: auto;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}

.qr-img {
	height: 200px;
	width: 200px;
}
</style>
</head>
	<body>
		<div id="app">
		<nav class="navbar">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="">
		      	<img src="img\shAlachihnaM.jpg" 
		      	:alt="website" 
		      	class="brand-logo"
		      	onclick="openPage(event, 'home')">
		      </a>
		    </div>
		    <ul class="nav navbar-nav">
		      <li>
		      	  <a href="#home" @click=setCurrentTab('home')>Home</a></li>
		      	  <li><a href="#our-projects" @click=setCurrentTab('our-projects')>Our Projects</a></li>
			      <li><a href="#veda-paathashaalaa" @click=setCurrentTab('veda-paathashaalaa')>Veda Paathashaalaa</a></li>
			      <li><a href="#aims-and-objectives" @click=setCurrentTab('aims-and-objectives')>Aims and Objectives</a></li>
			      <li><a href="#contact-us" @click=setCurrentTab('contact-us')>Contact us</a></li>
			      <li><a href="#donate-to-us" @click=setCurrentTab('donate-to-us')>Donate to us</a></li>
			</ul>
		  </div>
		</nav>
		<div class="container-fluid">
		<div id="home" v-if="currentTab==='home'">
			<div id="vb-carousel" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
				        <li data-target="#carousel" data-slide-to="0" class="active"></li>
				        <li data-target="#carousel" data-slide-to="1"></li>
				        <li data-target="#carousel" data-slide-to="2"></li>
				        <li data-target="#carousel" data-slide-to="3"></li>
				        <li data-target="#carousel" data-slide-to="4"></li>
				        <li data-target="#carousel" data-slide-to="5"></li>
				    </ol>
			  <div class="carousel-inner">
			    <div class="item">
			      <img class="d-block w-60" src="img\carousel\DSC_0072.JPG" alt="First slide">
			    </div>
			    <div class="item">
			      <img class="d-block w-60" src="img\carousel\DSC_0107.JPG" alt="Second slide">
			    </div>
			    <div class="item">
			      <img class="d-block w-60" src="img\carousel\DSC_0279.JPG" alt="Third slide">
			    </div>
			    <div class="item">
			      <img class="d-block w-60" src="img\carousel\DSC_0673.JPG" alt="Fourth slide">
			    </div>
			    <div class="item">
			      <img class="d-block w-60" src="img\carousel\DSCN0335.JPG" alt="Fifth slide">
			    </div>
			    <div class="item active">
			      <img class="d-block w-60" src="img\carousel\vEyagAnam_003.jpg" alt="Sixth slide">
			    </div>
			  </div>
			</div>
			<div class="home__poem">
				<p>“हम कौन थे, क्या हो गए हैं, और क्या होंगे अभी</p>
				<p>आओ विचारें आज मिल कर, ये समस्याएँ सभी</p>
				<p>भू-लोक का गौरव प्रकृति का पुण्य लीला-स्थल कहाँ</p>
				<p>फैला मनोहर गिरि हिमालय और गंगाजल कहाँ</p>
				<p>सम्पूर्ण देशों से अधिक, किस देश का उत्कर्ष है</p>
				<p>उसका कि जो ऋषि-भूमि है, वह कौन, भारतवर्ष है</p>
				<p>यह पुण्य-भूमि प्रसिद्ध है, इसके निवासी आर्य हैं</p>
				<p>विद्या, कला, कौशल्य, सबके जो प्रथम आचार्य हैं</p>
				<p>सन्तान उनकी आज यद्यपि, हम अधोगति में पड़े</p>
				<p>पर चिन्ह उनकी उच्चताके, आज भी कुछ हैं खड़े</p>
				<p>वे आर्य ही थे, जो कभी अपने लिए जीते न थे</p>
				<p>वे स्वार्थरत हो मोह की मदिरा कभी पीते न थे</p>
				<p>वे मन्दिनी-तल में, सुकृति के बीज बोते थे सदा</p>
				<p>पर दु:ख देख, दयालुता से द्रवित होते थे सदा</p>
				<p>संसार के उपकार हित, जब जन्म लेते थे सभी</p>
				<p>निश्चेष्ट हो कर किस तरह से बैठ सकते थे कभी</p>
				<p>फैला यहीं से ज्ञान का आलोक सब संसार में</p>
				<p>जागी यहीं थी, जग रही जो ज्योति अब संसार में</p>
				<p>ये मोह-बन्धक मुक्त थे, स्वच्छंद थे, स्वाधीन थे</p>
				<p>सम्पूर्ण सुख-संयुक्त थे, वे शान्ति-शिखरासीन थे</p>
				<p>मनसे, वचनसे, कर्मसे, वे प्रभु-भजन में लीन थे</p>
				<p>विख्यात ब्रह्मानन्द नद के, वे मनोहर मीन थे”</p>
				<p>•	कविप्रवर श्री मैथिली शरण गुप्त की रचना </p>
				<p>     "भारत - भारती" से उद्धृत</p>
			</div>
		</div>
		<div id="our-projects" v-if="currentTab==='our-projects'">
		  <h3>About Us</h3>
		  <p>Krinvanto Vishwa Aryam!</p>
		</div>
		<div id="veda-paathashaalaa" v-if="currentTab==='veda-paathashaalaa'">
		  <h3>Veda Paathashaalaa</h3>
		  <p>Coming soon!</p>
		</div>
		<div id="aims-and-objectives" v-if="currentTab==='aims-and-objectives'">
		  <h3>Aims and Objectives</h3>
		  <div>
		  	<p>1) To re-establish that ancient system of education and knowledge which is reflected in the studies of AarshaGranthas, so that the Graduates from our Paathshaalaas are expert in the Vedaangaas.</p>
		  	<p>2) Veda is a to be lived, not merely studied, keeping this in mind, prachaara of Sanskrta Bhaashaa, Vaidika Principles, Vaidika Education & Vaidika Lifestyle.</p>
		  	<p>3) To inspire and motivate people to uphold the Vaidika traditions of Sandhyopaasanam, Shrauta Karma, Gopaalanam and to help such people in overcoming the challenges they face.</p>
		  	<p>4) Gosamvardhana and to make Gau an important factor in the Economy of the Nation.</p>
		  	<p>5) To promote the idea of Svadeshi, especially Veshabhooshaa, Bhaashaa and thoughts.</p>
		  	<p>6) Protection of Natural Flora-Fauna especially by promoting plantation of trees and herbs as mentioned in the Vaidika Literature, more so, of the Yajneeya variety.</p>
		  	<p>7) Promotion of all the Vidyaas as referred to in AarshaGranthas, viz. Yuddha Vidyaa, Krshi Vidyaa, Yoga Vidyaa, Sangeeta-Nrtya Vidyaa etc. Research on all these and to promote their inculcation in day to day life amongst the citizenry.</p>
		  	<p>8) Research on the Angaas-Upaangaas/allied Granthaas of Veda, their publication and creation of new Granthaas on these topics.</p>
		  </div>
		</div>	
		<div id="contact-us" v-if="currentTab==='contact-us'">
		  <h3>Contact us</h3>
		  <div>
		  	<section>
		  	<p></span><b>Mohit Bhardwaj</b></p> 
		  	<div><i class="fas fa-mobile-alt"></i><p class="v-inline-block">7838597892</p></div>
		  	<div><i class="fab fa-twitter-square"></i><p class="v-inline-block">@vvaayu</p></div>
		    </section>
		  	<p></p>
		  	<section>
		  	<p></span><b>Rajender Bainsla</b></p> 
		  	<div><i class="fas fa-mobile-alt"></i><p class="v-inline-block">9992200235</p></div>
		  	<div><i class="fab fa-twitter-square"></i><p class="v-inline-block">@rajbainsla</p></div>
		    </section>
		  	<p></p>
		  	<section>
		  	<p></span><b>Ajay Kumar</b></p> 
		  	<div><i class="fas fa-mobile-alt"></i><p class="v-inline-block">9821077055</p></div>
		  	<div><i class="fab fa-twitter-square"></i><p class="v-inline-block">@rajbainsla</p></div>
		    </section>
		  	<p></p>
		  	<section>
		  	<p></span><b>Email</b></p> 
		  	<div><i class="fas fa-envelope"></i><p class="v-inline-block">namamsi@vaidikabharata.org</p></div>
		  	<div><i class="fas fa-envelope"></i><p class="v-inline-block">mohit@vaidikabharata.org</p></div>
		    </section>
		  </div>
		</div>
		<div id="donate-to-us" v-if="currentTab==='donate-to-us'">
			<h2>Donate to us:</h2>
			<p><b>Bank:</b> ICICI Bank</p> 
			<p><b>Account Number:</b> 073405001350</p>
			<p><b>Account Type:</b> Current</p>
			<p><b>Account Name:</b> Vaidik Bharat Trust</p>
			<p><b>IFSC:</b> icic0000734</p>
			<p><b>Address:</b></p>
			<p>Agra Chowk, Plot No. 5. New Colony.</p>
			<p>Palwal, Haryana.</p>
			<p>P.I.N: 121102</p> 
			<p><b>PayTM QR Code</b></p>
			<img class="qr-img" src='./img/payTMQRCode.jpg'>
		</div>
	    </div>
	</div>
		<script>
			var app = new Vue({
				el: '#app',
				data: {
					website: 'VaidikaBharata.org',
					currentTab: '',
					route: window.location.href,
				},
				mounted() {
					this.currentTab = window.location.href.split("#")[1]||'home'; 
					$('#vb-carousel').carousel({
						interval: 2000
					});
				},
				methods: {
					setCurrentTab(tabName) {
						this.currentTab = tabName;
					}
				}
			});
		</script>
	</body>
</html>